<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="file:/home/bisnard/SYSFERA/EDF/doc/example.xsd"
            class="com.sysfera.codegen.docbook.test.Example.ExamplePackage"
            genModel="example.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="example"
            class="com.sysfera.codegen.docbook.test.Example.util.ExampleResourceFactoryImpl"/>
   </extension>

</plugin>
